
/* Game Widget */
.game-widget {
    padding-top: 60px;
    display: flex;
}

.game-widget p, .game-widget a, .game-widget h2 {
    font-family: Palanquin-Regular;
    margin-left: 5%;
    margin-bottom: 0px;
}

.game-widget p{
    margin-top: 0px;
}

#puzzleimage p, #spaceimage p {
    text-align: center;
    margin-top: 290px;
    margin-left: 0px;
}

.game-widget h1 {
    font-family: Cairo-Bold;
    font-size: 22px;
    text-align: center;
}

.game-widget h2 {
    font-size: 17px;
}

.column {
    flex: 50%;
    
}

/* LIST */
.game-widget ul {
    font-family: Palanquin-Regular;
    font-size: 15px;
    list-style: none;
    margin-left: 10px;
    padding: 0;
    text-indent: 10px;
}

.game-widget li {
    display: block;
    margin-left: 5%;
    padding: 2px;
    padding-left: 10px;
    background: url('css/bullet.png') no-repeat left;
    background-size: 12px;
}

b {
    color: #78554a;
    text-decoration: none;
}

#puzzleimage {
    background: url('puzzlegame.png') no-repeat;
    border-right: 1px solid #3d3a4434;
    background-size: 250px;
    background-position: center;
    image-rendering: pixelated;
}

#spaceimage {
    background: url('spacegame.png') no-repeat;
    border-right: 1px solid #3d3a4434;
    background-size: 250px;
    background-position: center;
    image-rendering: pixelated;
}

.gamebutton {
    display: inline-block;
    margin-top: 8px;
    font-family: SourceSansPro-Bold;

    color: white;
    text-decoration: none;
    border: none;
    background-color: orange;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}