
/* Game Widget */
.game-widget {
    font-family: Palanquin-Regular;
    display: block;
    float: left;
    margin-left: 10%;
    padding: 20px;
    padding-top: 40px;
}

.game-widget h1 {
    font-family: Cairo-Bold;
}

.game-widget-desc {
    text-align: left;
    font-size: 15px;
    float: left;
    padding-left: 40px;
}


.gameimage {
    float: left;
    display: inline;
    border: 1px white;
    border-right: 1px solid #3d3a44;
    height: 35%;
    width: 35%;
    image-rendering: pixelated;
}

.gamebutton {
    display: inline-block;
    margin-top: 8px;
    font-family: SourceSansPro-Bold;

    color: white;
    text-decoration: none;
    border: none;
    background-color: orange;
    padding: 10px;
    border-radius: 4px;
}