/* Font Definitions */
@font-face {
    font-family: SourceSansPro-Regular;
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url(fonts/SourceSansPro-Light.ttf);
}



body {
    background-color: black;
    color: white;
}


/* Header */
header {
    font-family: SourceSansPro-Light;
    
    display: inline;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 20px;
    margin-bottom: auto;
}


/* NAV BAR */ 
nav {
    display: block;
    float: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}


ul {
    font-family: SourceSansPro-Regular;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

li a:hover {
    background-color: #111;
}

li a:visited {
    color: white;
}

section {
    font-family: SourceSansPro-Regular;

    display: block;
    margin-top: 10%;
    text-align: center;
}


/* Email Link */
.email .highlight-link {
    display: inline-block;
    color: rgb(255, 195, 65);
    font-weight: 400;
    text-decoration: none;
    padding: 2px 3px;
    
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
    -webkit-box-shadow: inset 0 -3px 0 #313131;
    box-shadow: inset 0 -3px 0#313131;
}

.email .highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #313131;
    box-shadow: inset 0 -33px 0 0 #313131;
    color: #fff
}

.email .highlight-link:visited {
    color: white;

}


/* UDYR IMAGE */
.hidden {
    display: block;
    float: right;
    padding-top: 90%;
}



/* ScrollBar */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  
::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #555;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #222;
}