/* StyleSheet */

body {
    background-color: black;
    color: whitesmoke;
}

.intro__contact .highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #ac3232;
    box-shadow: inset 0 -3px 0 #ac3232
}

.intro__contact .highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #ac3232;
    box-shadow: inset 0 -33px 0 0 #ac3232;
    color: #fff
}

.hidden {
    display: block;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 90%;
    margin-bottom: auto;
}